 @use "../abastract/functions" as func;

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(168, 203, 219);
    margin-top: 30px;

    .form_container { 
          background-color: white;
          padding: 30px 30px ;
          border-radius: 10px;
          box-shadow: 2px 2px 12px rgb(121, 121, 121);
        .form_main {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .title{
                font-size: 32px;
                margin-top:10px;
                
            }
            .input-filed{
                width: 100%;
                background-color:rgb(226, 225, 225);
                border-radius: 20px;
                margin-top: 20px;
                .fas{
                    
                    padding: 10px 0px;
                    margin-right: 0px;
                    padding: 20px;
                    font-size: 20px;
                    
                   
                }
                input{
                    background-color:rgb(226, 225, 225);
                    padding: 15px 20px;
                    outline: none;
                    border: none;
                    font-size: 15px;
                    font-weight: 900;
                    border-radius: 20px;
                }
               


            }

            .sign-in-btn{
                font-size: 15px;
                margin-top: 25px;
                padding: 10px 40px;
                border-radius: 10px;
                border: none;
                background-color:func.theme-color();
                color: white;
                outline: none;
                font-weight: 900;
            }
            .sign-in-btn:hover{
                background-color: func.theme-color(priamry-hover);
            }
           .sign_with{
             padding: 15px  5px ;
           }

            .social-links{
                display: flex;
                justify-content: center;
                // background-color: rgb(207, 198, 198);
                .links{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    font-size: 25px;
                    align-items: center;
                    justify-content: space-evenly;
                    text-decoration: none;
                    border: 2px solid func.theme-color();
                    border-radius: 50%;
                    margin-left: 20px;
                    transition: .3s;
                    color: rgb(44, 43, 43);
                }
                .links:hover{
                    color:func.theme-color();
                    border: 2px solid rgb(255, 4, 234);
                }
            }

        }
    }


}